.ThermoMenuBar {
    width: 100vw;
    height: 10vh;
    background-color: orangered;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center; /* Centers the h1 */
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
    position: fixed; /* Allows absolute positioning of the ThermMenuLink */
    z-index: 10;
}

.h1 {
    font-size: 5vh;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Centers the h1 */
}

.ThermMenuLink {
    font-size: 3vh;
    position: fixed;
    left: 20px; /* Move to the far left with some padding */
    color: black;
    display: flex;
    align-items: center;
    z-index: 11;
    margin-left: 10px;
}

.ThermMenuLink:hover {
    color: aliceblue;
}

video {
    width: 100vw;
    top: 10vh; /* Ensure it sticks to the top of the page */
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: -1;
}


body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
}

.PageContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.TempData {
    display: flex;
    justify-content: space-evenly; /* Ensures even spacing between the boxes */
    align-items: center;           /* Aligns the boxes vertically */
    width: 80vw;                   /* Adjust width as necessary */
    height: auto;
    margin-bottom: 15px;
    margin-top: 125px;
}

.DataBox1, .DataBox2, .DataBox3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 20vw;
    background-color: orangered;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
}

/* The .Phone element */
.Phone {
    background-color: orangered;
    height: 10vh;
    width: 50vh;
    display: flex;
    flex-direction: row; /* Stacks textarea and button vertically */
    justify-content: left; /* Centers textarea and button vertically */
    align-items: right; /* Centers horizontally */
    margin-top: 75px;
    
}

/* Styling for the PhoneBox article */
.PhoneBox {
    width: 30vw;
    height: 75%;
    box-sizing: content-box;
    
}

/* Styling for the textarea inside PhoneBox */
textarea {
    width: 20vw;
    height: 100%;
    display: flex;
    margin: 2%;
    resize: none; /* Prevents resizing */
    position: relative;
}

/* Center and style the button */
button {
    margin-top: 10px;
    padding: 8px 20px;
    font-size: 1rem;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    position: relative;
    margin: 2%;
}

button:hover {
    background-color: gray;
}